<div class="cart-wrapper">
    <div class="cart-container">
        <div class="cart-header">
            <h2>1 ITEM</h2>
            <button>Close</button>
        </div>

        <div class="promo-banner">
            Shop ৳268 more and save ৳10 fee
        </div>

        <div class="cart-item">
            <img src="assets//fresh-fortified-soyabean-oil-5-ltr (1).webp" alt="Fresh Refined Sugar">
            <div class="cart-item-details">
                <p class="cart-item-name">Fresh Refined Sugar</p>
                <p class="cart-item-price">৳180 / 1 kg</p>
            </div>
            <div class="cart-item-price">৳180</div> 
        </div>

        <div class="deal-activated">
            Today's Deal Activated
        </div>

        <div class="special-code">
            Have a special code?
        </div>

        <div class="place-order">
            <a href="login"><span>Place Order</span></a>
            <!-- <span>Place Order</span> -->
            <span>৳132</span>
        </div>
    </div>
</div>
