<!-- <div class="login-container">
    <button class="btn btn-primary w-100">
      <i class="fab fa-facebook"></i> Sign Up or Login with <b>Facebook</b>
    </button>
  
    <button class="btn btn-light w-100 mt-2">
      <i class="fas fa-envelope"></i> Login with <b>Email</b>
    </button>
  
    <div class="text-center mt-3">or</div>
  

      <label class="form-label mt-2">PLEASE ENTER YOUR MOBILE PHONE NUMBER</label>
      
      <div class="input-group">
        <span class="input-group-text">
          <img src="https://flagcdn.com/w40/bd.png" width="20" />
          +88
        </span>
        <input type="tel" formControlName="phoneNumber" class="form-control" placeholder="Enter phone number" />
      </div>
  
      <div *ngIf="loginForm.controls['phoneNumber'].invalid && loginForm.controls['phoneNumber'].touched" class="text-danger">
        Enter a valid phone number.
      </div>
  
      
  
      <button type="submit" class="btn btn-danger w-100 mt-3">SIGN UP / LOGIN</button>

  
    <p class="text-center small mt-2">
      This site is protected by reCAPTCHA and the Google
      <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a> apply.
    </p>
  </div>
   -->