<!-- <h2>Edit Product</h2>

<form (ngSubmit)="updateProduct()" #productForm="ngForm">
  <div>
    <label>Product Id:</label>
    <input type="text" [(ngModel)]="product.id" name="productName" required />
  </div>

  <div>
    <label>Product Name:</label>
    <input type="text" [(ngModel)]="product.productName" name="productName" required />
  </div>

  <div>
    <label>Price:</label>
    <input type="number" [(ngModel)]="product.price" name="price" required />
  </div>

  <div>
    <label>Stock:</label>
    <input type="number" [(ngModel)]="product.stock" name="stock" required />
  </div>

  <div>
    <label>Category:</label>
    <input type="text" [(ngModel)]="product.category" name="category" required />
  </div>

  <div>
    <label>Status:</label>
    <select [(ngModel)]="product.status" name="status" required>
      <option value="Available">Available</option>
      <option value="Out of Stock">Out of Stock</option>
    </select>
  </div>

  <!-- <button type="submit" [disabled]="productForm.invalid">Update</button> -->
<!-- </form> --> -->
<h2>Update New Product</h2>
<div class="form-container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <label>Product Id:</label>
      <input type="text" formControlName="id" required /> <br />
  
      <label>Product Name:</label>
      <input type="text" formControlName="productName" required /> <br />
  
      <label>Category:</label>
      <input type="text" formControlName="category" required /> <br />
  
      <label>Price:</label>
      <input type="number" formControlName="price" required /> <br />
  
      <label>Stock In KG:</label>
      <input type="number" formControlName="stock" required /> <br />
  
      <label>Status:</label>
      <input type="text" formControlName="status" required /> <br />
  
      <label>Image URL:</label>
      <input type="text" formControlName="image" /> <br />
      
  
      <button type="submit">Save</button>
    </form>
  </div>
  <tr>
               