<!-- <div
  class="px-3 py-3 sticky-top rounded-bottom"
  
>
  <div class="px-3 py-2 mb-3">
    <div class="container d-flex flex-wrap justify-content-center"> -->
      <!-- <button
        class="btn"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#demo"
      >
        &#9776;
      </button> -->
      <!-- <form class="col-12 col-lg-auto mb-2 mb-lg-0 w-75" role="search">
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </form> -->
      <!-- <div class="dropdown px-1 me-2">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown">
                    Dhaka
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Use my current Location</a></li>
                    <li><a class="dropdown-item" href="#">Change City</a></li>
                </ul>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-danger me-2"><a href="signin.html"></a>Sign
                    in</button>
                 <button type="button" class="btn btn-outline-danger"><a href="signup.html"></a>Sign
                    up</button> -->
      <!-- </div> -->
      <!-- <div class="container-fluid mt-3"> -->
        <!-- <router-outlet></router-outlet> -->
        <!-- </div>
   <div class="row">
     <div [ngClass]="isSidePaneVisible? 'col-8' : 'col-12'" >
         <div class="card">
             <div class="card-header bg-primary">
                 <div class="row">
                     <div class="col-6">
                         product list
             </div>
             <div class="col-6 text-end">
                 <button class="btn btn-sm btn-success" (click)="openSidePanel()">New</button>
             </div>
         </div>
     </div>
           
         </div>
     </div>
     <div class="col-4" *ngIf="isSidePaneVisible">
         <div class="card">
             <div class="card-header bg-primary">
                 <div class="row">
                     <div class="col-6">
                        New product 
             </div>
             <div class="col-6 text-end">
                 <button class="btn btn-sm btn-success" (click)="closeSidePanel()">Close</button>
             </div>
         </div>
     </div>
             <div class="card-body">
               <div class="row">
                 <div class="col-6">
                   <label for="">Id</label>
                   <input type="text" [(ngModel)]="productObj.productSku" class="form-control">
                 </div>
                 <div class="col-6">
                   <label for="">Name</label>
                   <input type="text" [(ngModel)]="productObj.productName" class="form-control">
                 </div>
               </div>
               <div class="row">
                 <div class="col-6">
                   <label for="">Description</label>
                   <input type="text" [(ngModel)]="productObj.productSku" class="form-control">
                 </div>
                 <div class="col-6">
                   <label for="">Category</label>
                   <input type="text" [(ngModel)]="productObj.productSku" class="form-control">
                 </div>
               </div>
               <div class="row">
                 <div class="col-6">
                   <label for="">Price</label>
                   <input type="text" [(ngModel)]="productObj.productSku" class="form-control">
                 </div>
                 <div class="col-6">
                   <label for="">Stock</label>
                   <input type="text" [(ngModel)]="productObj.productSku" class="form-control">
                 </div>
               </div>
               <div class="row">
                 <div class="col-6">
                   <label for="">Brand</label>
                   <input type="text" [(ngModel)]="productObj.productSku" class="form-control">
                 </div>
                 <div class="col-6">
                   <label for="">Colors</label>
                   <input type="text" [(ngModel)]="productObj.productSku" class="form-control">
                 </div>
               </div>
               <div class="row">
                 <div class="col-12">
                   <label for="">ProductImgUrl</label>
                   <input type="text" [(ngModel)]="productObj.productSku" class="form-control">
                 </div>
               </div>
             </div>
         </div>
     </div>
   </div> -->

        <!-- <div class="  px-2 py-2 text-black bg-warning">
   
   <div class="d-flex align-items-center  ">
       
       <ul class="nav    my-md-0 text-small mx-auto">

           
           <li>
               <a href="e_web.html" class="nav-link text-secondary">
                   <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                       <use xlink:href="#home" />
                   </svg>
                   Home
               </a>
           </li>
           <li>
               <a href="Deshboard.html" class="nav-link text-black">
                   <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                     
                   </svg>
                   Dashboard
               </a>
           </li>
           <li>
               <a href="offer.html" class="nav-link text-black">
                   <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                       <use xlink:href="#table" />
                   </svg>
                  Special Offer
               </a>
           </li>
           <li>
               <a href="Products.html" class="nav-link text-black">
                   <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                       <use xlink:href="#grid" />
                   </svg>
                   Products
               </a>
           </li>
           <li>
               <a href="FAQ.html" class="nav-link text-black">
                   <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                       <use xlink:href="#people-circle" />
                   </svg>
                   FAQ
               </a>
           </li>
           <li>
               <a href="About.html" class="nav-link text-black">
                   <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                       <use xlink:href="#people-circle" />
                   </svg>
                   About
               </a>
           </li>
           <li>
               <a href="contact.html" class="nav-link text-black">
                   <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                       <use xlink:href="#people-circle" />
                   </svg>
                   Contact us
               </a>
           </li>
          
       </ul>
   </div>
</div> -->

        <!-- <div class="container">
<img src="assets/popular.webp" width="45%">
<img src="assets/popular (1).webp" width="45%">
</div> -->

        <!-- <div class="container"> -->
          <!-- Product 1 -->
          <!-- <a routerLink="/single">
          <div class="product">
           
              <img 
                src="assets//fresh-refined-sugar-1-kg (1).webp"
                alt="Fresh Refined Sugar"
            /> -->
            <!-- <h3>Fresh Refined Sugar</h3> -->
            <!-- <div class="price">৳132</div> -->
            <!-- <div class="price">৳132 <span class="old-price">৳145</span></div>

            <a href="#" class="add-to-bag">Add to bag</a> -->
            <!-- <button class="card-button-inner bag-button" (click)="addToCart({title:'Cara',para:'Fresh Refined Sugar',price:132})"></button> -->
           <!-- </div>
          </a> -->

          <!-- Product 2 -->
          <div class="container">
            <div *ngFor="let product of products" class="product">
              <img [src]="product.imageUrl" [alt]="product.name" />
              <h3>{{ product.name }}</h3>
              <div class="price">৳{{ product.price }} <span *ngIf="product.oldPrice">৳{{ product.oldPrice }}</span></div>
              
              <button (click)="addToCart(product)" class="add-to-bag">Add to bag</button>
            </div>
          </div>
          
          

          <!-- Product 3 -->
          <!-- <div class="product">
            <a href="Salt.html"
              ><img
                src="assets//fresh-super-premium-vacuum-salt-1-kg (1).webp"
                alt="Fresh Super Premium (Vacuum) Salt"
            /></a>
            <h3>Fresh Super Premium (Vacuum) Salt</h3>
            <div class="price">৳42</div>
            <a href="#" class="add-to-bag">Add to bag</a>
          </div> -->

          <!-- Product 4 -->
          <!-- <div class="product">
            <a href="Maida.html"
              ><img
                src="assets//fresh-white-flour-maida-2-kg (1).webp"
                alt="Fresh White Flour (Maida)"
            /></a>
            <h3>Fresh White Flour (Maida)</h3>
            <div class="price">৳132 <span class="old-price">৳144</span></div>
            <a href="#" class="add-to-bag">Add to bag</a>
          </div> -->

          <!-- Product 5 -->
          <!-- <div class="product">
            <a href="Water.html"
              ><img
                src="assets//super-fresh-drinking-water-8-ltr (1).webp"
                alt="Super Fresh Drinking Water"
            /></a>
            <h3>Super Fresh Drinking Water</h3>
            <div class="price">৳90 <span class="old-price">৳85</span></div>
            <a href="#" class="add-to-bag">Add to bag</a>
          </div> -->

          <!-- Product 6 -->
          <!-- <div class="product">
            <a href="Table tissue.html"
              ><img
                src="assets//bashundhara-paper-napkins-13-unscented-special-offer-100-pcs (1).webp"
                alt="Fresh Paper Napkins 13'' Perfumed (100X1 Ply)"
            /></a>
            <h3>Fresh Paper Napkins 13'' Perfumed (100X1 Ply)</h3>
            <div class="price">৳70</div>
            <a href="#" class="add-to-bag">Add to bag</a>
          </div> -->

          <!-- Product 7 -->
          <!-- <div class="product">
            <img
              src="assets//fresh-premium-moshur-dal-1-kg (1).webp"
              alt="Fresh Premium Moshur Dal"
            />
            <h3>Fresh Premium Moshur Dal</h3>
            <div class="price">৳155</div>
            <a href="#" class="add-to-bag">Add to bag</a>
          </div> -->

          <!-- Product 8 -->
          <!-- <div class="product">
            <img
              src="assets//fresh-hand-towel-1-box (1).webp"
              alt="Fresh Hand Towel 1 box"
            />
            <h3>Fresh Hand Towel 1 box</h3>
            <div class="price">৳90</div>
            <a href="#" class="add-to-bag">Add to bag</a>
          </div>
          <div class="product">
            88
            <a
              href="file:///C:/Users/lenovo/OneDrive/Desktop/Website/Details.html"
              ><img
                src="assets//fresh-hand-towel-250x1-ply-1-pcs (1).webp"
                alt="Fresh Hand Towel 1 box"
            /></a>
            <h3>Fresh Table Tussue 1 box</h3>
            <div class="price">৳90</div>
            <a href="#" class="add-to-bag">Add to bag</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
