<div class="product-container">
    <div class="product-image">
        <img src="assets//fresh-fortified-soyabean-oil-5-ltr (1).webp" alt="Suger">
    </div>
    <div class="product-details">
        <h1>Fresh Refined Sugar</h1>
        <p class="product-price">৳132</p>
        <div class="product-quantity">
            <label for="quantity">Quantity: </label>
            <input type="number" id="quantity" name="quantity" value="1">
           <a href="BuyNow1"><button>Buy Now</button></a> 
        </div>
        <div class="origin-info">
            <p><strong>Origin:</strong> Bangladesh</p>
            <p>
                Fresh Refined sugar is a modern processes of without touching hand to protect the health of assurance. Fresh refined sugar is completely acid, fecal residues free and neat and clean, healthy, granulated sugar.</p>
        </div>
    </div>
</div>

<div class="footer">
    <p>30 minute delivery &nbsp; | &nbsp; Cash on delivery</p>
    <p> pay with
        <img src="assets/Amex.webp" alt="Payment Methods"> &nbsp; 
        <img src="assets/mastercard.webp" alt="Payment Methods">
        <img src="assets/bkash.webp" alt="Payment Methods">
        <img src="assets/NagadLogo.webp" alt="Payment Methods"><br>
        <a href="#">Privacy Policy</a> &nbsp; | &nbsp; <a href="#">Terms of Use</a> <br>
       
        <a href="#">Customer Service</a> &nbsp; | &nbsp; <a href="#">Contact Us</a> <br>
        <a href="tel:16710">16710</a> &nbsp; | &nbsp; <a href="mailto:support@chaldal.com">supportchaldal.com</a><br>
        <img src="assets/phone_icon.webp" data-reactid=".25p0j1p4p80.b.2.0.0.0.0.2.6.1.0:$15581_Grocery.0.6.0.2.2.1.0.0.0.0"><b>16710</b>
        <span>or supportchaldal.com</span><br>
        <img src="assets/Facebook.webp">
        <img src="assets/Youtube.webp">
        <img src="assets/twitter.webp">
        <img src="assets/Instagram.webp">
        </p>
</div>
<router-outlet></router-outlet>

